
body {
    position: relative;
}
.main-div {
    margin-top: 100px;
}
#main-header {
    font-size: 3em;
    text-align:center;
    margin-bottom: 100px;
}
.main-highlights-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
}
.main-highlights {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
    height: 500px;
    width: 250px;
    border: 1px solid black;
}
#fat {
    margin-top: 200px;
}
.navbar-right{
    justify-content: center;
}
#highlight-one {
    background: url(../ubezpieczenia.jpg) top;
}
#highlight-two {
    background: url(../kredyty.jpg) center;
}
#highlight-three {
    background: url(../nieruchomosci.jpg) center;
}
#highlight-four {
    background: url(../web.jpg) center;
}

$navbar-dark-active-color: gold;

// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";